<!DOCTYPE html>
<html>
  <head>
    <title>DreamEater</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <div id="app" class="row">
    </div>
  </body>
</html>
