.ReactPDF_Page {
  display: inline-block;
}

body {
  background-color: blue;
}


.comic {
  display: inline-block;
}

.comic-container {
  white-space: nowrap;

}

.comic-nav {
  white-space: nowrap;
}


a button {
  color: white;
}
