.ReactPDF_Page_canvas {
  display: inline-block;
}

.full-screenable-node {
  text-align: center;
}

.comic {
  display: inline-block;
}

.ReactPDF_Page {
  display: inline-block;
  white-space: nowrap;
}

.display-box {
  white-space: nowrap;
  min-height: 500px;
}

.comic-nav {
  white-space: nowrap;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 100pt;
}

h3 {
  font-family: 'Slabo 27px', serif;

}

p {
  font-family: 'Slabo 27px', serif;
}
