.field {
  width: 80%;
}

body {
  margin-left: 1rem;
  margin-right: 1rem;
}

a {
  color: rgb(51, 51, 51);
  text-decoration: underline;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

label {
  color: rgb(51, 51, 51)
}

.top-bar {
  margin: 0;
}

#flash-message {
  width: 20rem;
  float: left;
}
