#navbar {
  background-color: rgb(51,51,51);
  margin: 1rem, 1rem, 0rem, 1rem;
  color: rgb(255, 246, 201);
  padding: 0;
}

#title {
  font-size: 6vw;
}

#navbar div.thing {
  display: inline-block;
}

.headers {
  list-style: none;
  margin: 1rem;
}

.headers li {
  display: inline;
}

.thing.nav-buttons {
  text-align: right;
  top: 0;
}

button {
  background-color: rgb(255, 246, 201);
  border-radius: 0.2rem;
  margin: 2rem;
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

button:hover {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

button:focus-within {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button {
  background-color: rgb(255, 246, 201);
  border-radius: 0.2rem;
  margin: 2rem;
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button:hover {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button:active {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

a button {
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

a:hover button {
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 246, 201);
}

#navbar h3 {
  color: rgb(255, 246, 201);
}

.top-bar {
  height: 10rem;
}

#sign-in {
  text-align: right;
}

#children {
  background-color: rgb(90, 102, 122);
  margin-top: 0;
}
