#navbar {
  background-color: rgb(51,51,51);
  text-align: center;
  margin: 1rem;
  color: rgb(255, 246, 201);
  padding: 0;
}

#title {
  font-size: 6vw;
}

button {
  background-color: rgb(255, 246, 201);
  border-radius: 0.2rem;
  margin: 2rem;
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

button:hover {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

button:focus-within {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button {
  background-color: rgb(255, 246, 201);
  border-radius: 0.2rem;
  margin: 2rem;
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button:hover {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

.button:active {
  background-color: rgb(219, 212, 179);
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

a button {
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

a:hover button {
  color: rgb(51,51,51);
  font-family: 'Slabo 27px', serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 246, 201);
}

#navbar h3 {
  color: rgb(255, 246, 201);
}
